body {
    font-family: 'Ditrois', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    background-color: #f5f5f5;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11rem;
    background-color: rgb(206, 151, 151);
}

.logo{
    width: 40rem;
    height: 40rem;
    margin-left: 2rem;
}

.logo:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}


.title{
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
    text-decoration: none;
}

.title:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.title-div{
    display: flex;
    flex-direction: row;
    margin-left: 55rem;
    align-items: center;
    width: 100%;
    background-color: rgb(206, 151, 151);
}

.title2{
    font-size: 2rem;
    margin-right: 2rem;
}
input{
    margin-top: 1rem;
    width: 20rem;
    height: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

input:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* Ajoutez ces styles pour le mode sombre */
.dark-mode {
    background-color: #333;


}

.dark-mode input,
.dark-mode button {
    background-color: #555;
    color: #fff;
}

#darkModeToggle {
    border-radius: 0.5rem;
    height: 3rem;
    margin-right: 2rem;
background-color: #555;
    border: none;

}

#darkModeToggle:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* Styles pour les écrans larges */
body {
    font-size: 16px;
}

/* Ajoutez des styles spécifiques pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Ajoutez des styles spécifiques pour les petits écrans (smartphones, etc.) */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    /* Ajoutez d'autres styles spécifiques pour les petits écrans si nécessaire */
}


/* Ajoutez des styles spécifiques pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 20rem;
    }

    .title {
        font-size: 1.2rem;
    }
}

/* Ajoutez des styles spécifiques pour les petits écrans (smartphones, etc.) */
@media screen and (max-width: 480px) {
    .logo {
        width: 80px; /* Ajustez la taille du logo pour les petits écrans */
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 1.5rem;
        margin-right: 0;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    input {
        width: 80%;
        margin-right: 0;
        border:none;
    }

    #darkModeToggle {
        margin-right: 0;
    }

    div, button {
        width: 80%;
    }

    #randomColorDisplay, #randomDateDisplay, #randomLetterDisplay, #randomFormeDisplay {
        font-size: 16px;
    }
    img {
        width: 100%;
        height: 100%;
    }

}


/* Add any additional styling as needed */


div {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;



}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* Ajoutez des styles pour le mode sombre */
    background-color:#59BDBD;
    color: #333;

}

button:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
#randomColorDisplay, #randomDateDisplay, #randomLetterDisplay, #randomFormeDisplay {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
}

/* Style pour la section principale */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

/* Style pour chaque élément de la section */
.main > div {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour les boutons */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #59BDBD;
    color: #fff;
}

button:hover {
    background-color: #59BDBD;
}

/* Style pour les affichages aléatoires */
#randomDateDisplay, #randomLetterDisplay, #randomFormeDisplay {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
}


